<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" style="width:100%">
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <td>
                <center>作业名称</center>
            </td>
            <td class="hidden-sm hidden-xs">
                <center>开始时间</center>
            </td>
            <td class="hidden-sm hidden-xs">
                <center>结束时间</center>
            </td>
            <td class="hidden-sm hidden-xs">
                <center>创建时间</center>
            </td>
            <td colspan="4">
                <center>操作</center>
            </td>
        </tr>
        <volist name="works" id="vo">
            <tr>
                <td>
                    <a href="#" onclick="">{$vo.work_name}</a>
                </td>
                <td class="hidden-xs">
                    <center>{$vo.start_time|substr=0,10}</center>
                </td>
                <td class="hidden-sm hidden-xs">
                    <center>{$vo.end_time|substr=0,10}</center>
                </td>
                <td class="hidden-sm hidden-xs">
                    <center>{$vo.create_time|substr=0,10}</center>
                </td>
                <td>
                    <center><a data-toggle="modal" href="#delete">结束提交</a></center>
                </td>
                <td>
                    <center><a data-toggle="modal" href="#delete">修改</a></center>
                </td>
                <td>
                    <center><a data-toggle="modal" href="#delete">删除</a></center>
                </td>
            </tr>
        </volist>
    </table>
</div>