<script type="text/javascript">
    function menu_click(addr) {
        $('.breadcrumb').children('').remove();
        url = "__APP__/Home/" + addr;
        $.get(url, function(data, textStatus, xhr) {
            $('.content').html(data);
        });
    }

    function folder_click(name, addr) {
        url = "__APP__/Home/" + addr;
        $.get(url, function(data, textStatus, xhr) {
            $('.content').html(data);
        });
        breadcrumb(name, addr);
    }

    function breadcrumb(name, addr) {
        $('.breadcrumb').append(function() {
            addr1 = "folder" + addr.slice(20);
            return '<li><a id="' + addr1 + '" href="#" onclick="clickbread(\'' + addr + '\')">' + name + '</a></li>';
        });
    }

    function clickbread(addr) {
        url = "__APP__/Home/" + addr;
        $.get(url, function(data, textStatus, xhr) {
            $('.content').html(data);
        });
        addr1 = "folder" + addr.slice(20);
        console.log(addr1);
        $('#' + addr1).parent().nextAll().remove();
    }

    function upload_file(id) {
        file = $("#file" + id).get(0).files[0];
        var formData = new FormData();
        formData.append("file", file);
        per = "0%"

        var a = '<li id=task' + task + '><a href="#"><h3 id="task_name">' + file.name + '<small class="pull-right">' + per + '</small></h3><div class="progress xs"><div class="progress-bar progress-bar-aqua" style="width: ' + per + '" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">20% Complete</span></div></div></a></li>';

        $('.upload.menu').append(a);

        $.ajax({
            type: "POST",
            url: "__APP__/Home/Upload/file",
            data: formData,
            dataType: "html",
            processData: false,
            contentType: false,

            success: function(msg, textStatus, xhr) {
                alert(msg);
            },

            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("上传失败！！！")
            },

            xhr: function() {
                var xhr = $.ajaxSettings.xhr();
                if (onprogress && xhr.upload) {
                    xhr.upload.addEventListener("progress", onprogress, false);
                    return xhr;
                }
            }
        });
        
        function onprogress(evt) {
            var loaded = evt.loaded; 
            var total = evt.total;
            var per = Math.floor(100 * loaded / total);

            var per = per + "%";
            $("#task" + id + " > a > div >.progress-bar.progress-bar-aqua").css("width", per);
            $("#task" + id + " > a > small.pull-right").text(per);
            $("#task" + id + " > a > #task_name").html(file.name + "<small class='pull-right'>" + per + "</small>");
        }
    }

    var id = 0;

    function upload() {
        id++;
        var file = "<input type='file' id='file" + id + "'/>";
        var button = "<input type='button' value='上传图片' onclick='uploadFile(" + id + ")' />"
        $('.upload.modal-body').html(file + button);
        $('#upload').modal('show');

    }

    var task = 0;

    function uploadFile(id) {
        task++;
        $('#upload').modal('hide');
        setTimeout(function() {
            upload_file(id, task);
        }, 1000);
    }
</script>
