<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <button class="btn btn-success" onclick="upload()">上传文件</button>
        <button class="btn btn-info">发布作业</button>
    </section>
    <ol class="breadcrumb">
    </ol>
    <!-- Main content -->
    <section class="content" style="overflow:hidden">
        <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div id="upload" class="modal fade">
    <div class="upload modal-dialog">
        <div class="upload modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">&times;</button>
                <h9>上传文件</h9>
            </div>
            <div class="upload modal-body">
                <p>想找回密码是吧?然而这并没有什么卵用,忘记密码的话请联系工作人员</p>
            </div>
        </div>
    </div>
</div>
