<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <button class="btn btn-success" onclick="upload()">上传文件</button>
        <button class="btn btn-info" onclick="new_work() ">发布作业</button>
    </section>
    <ol class="breadcrumb">
    </ol>
    <!-- Main content -->
    <section class="content" style="overflow:hidden">
        <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div id="upload" class="modal fade">
    <div class="upload modal-dialog">
        <div class="upload modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">&times;</button>
                <h9>上传文件</h9>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div id="new_work" class="modal fade">
    <div class="upload modal-dialog">
        <div class="upload modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">&times;</button>
                <h9>新建作业项目</h9>
            </div>
            <div class="modal-body">
                <form method="get" accept-charset="utf-8">
                    <p>
                        <span>作业名称：</span>
                        <input class="form-control" type="text" name="work_name">
                    </p>
                    <p>
                        <span>课程名称：</span>
                        <input class="form-control" type="text" name="lesson_name">
                    </p>
                    <p>
                        <span>选择班级：</span>
                        <div id="selectClass"></div>
                    </p>
                    <p>
                        <span>开始时间：</span>
                        <input class="form-control" type="date" name="create_time" value="{$Think.const.NOW_TIME|date="Y-m-d",###}">
                    </p>
                    <p>
                        <span>结束时间：</span>
                        <input class="form-control" type="date" name="end_time" value="{$Think.const.NOW_TIME|date="Y-m-d",###}">
                    </p>
                    <p>
                        <input class="btn btn-default" type="reset" value="重置">
                        <input class="btn btn-primary" type="button" id="create_work" value="确认">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
